@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body onload="slide()">
    <div class="text-center text-white">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a class="link-primary text-info" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <iframe id="animate" width="1006" height="566" src="https://www.youtube.com/embed/sENM2wA_FTg" title="Imagine Dragons - It&#39;s Time (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</body>